In [21]:
import numpy as np
import pandas as pd

In [22]:
df = pd.read_csv('./Data.csv')

In [23]:
df.shape

(31581, 9)

In [24]:
df.sample(2)

,Brand,Description,Image_URL,Product_ID,Discount_Price (in Rs.),Original_Price (in Rs.),Product_URL,Category_by_gender,Category
9063,teamspirit,Striped Henley-Neck Jacquard T-shirt,https://assets.ajio.com/medias/sys_master/root...,4.411360e+11,671,799,https://trends.ajio.com/teamspirit-striped-hen...,Men,Topwear
5539,lee-cooper,Panelled Toe-Ring Slip-On Sandals,https://assets.ajio.com/medias/sys_master/root...,4.501490e+11,"2,199","2,199",https://trends.ajio.com/lee-cooper-panelled-to...,Men,Footwear

In [25]:
df.columns

Index(['Brand', 'Description', 'Image_URL', 'Product_ID',
       'Discount_Price (in Rs.)', 'Original_Price (in Rs.)', 'Product_URL',
       'Category_by_gender', 'Category'],
      dtype='object')

In [26]:
df.drop(columns={'Image_URL','Product_ID','Product_URL'},inplace=True)

In [27]:
df.sample(2)

,Brand,Description,Discount_Price (in Rs.),Original_Price (in Rs.),Category_by_gender,Category
10757,dnmx,Graphic Print Crew-Neck T-shirt,120,399,Men,Topwear
6174,christofano,Lace-Up Casual Shoes with Placement Print,"1,439","1,799",Men,Footwear

In [28]:
df.rename(columns={'Original_Price (in Rs.)':'MRP','Discount_Price (in Rs.)':'Selling_Price'},inplace=True)

In [29]:
df.sample(2)

,Brand,Description,Selling_Price,MRP,Category_by_gender,Category
30954,other-characters,Snoopy Print Joggers with Insert Pockets,699,699,Women,Westernwear
23166,hi-attitude,Strappy Block Heels with Buckle Fastening,"1,299","1,299",Women,Footwear

In [30]:
def convert_currency_to_int(entry):
    if "," in entry:
        return int(''.join(entry.split(",")))
    return int(entry)

In [31]:
for col in ['MRP','Selling_Price']:
    df[col]=df[col].apply(convert_currency_to_int)

In [32]:
df['Discount'] = df['MRP'] - df['Selling_Price']
df['Discount_%'] = round(((df['Discount']/df['MRP'])*100))

In [33]:
df.sample(2)

,Brand,Description,Selling_Price,MRP,Category_by_gender,Category,Discount,Discount_%
12674,duke,Striped Slim Fit Polo T-shirt,941,1045,Men,Topwear,104,10.0
22356,frisbee,Shimmery Strap Slides,499,499,Women,Footwear,0,0.0

In [34]:
df.rename(columns={'Category':'Category_By_Attire','Category_by_gender':'Category_By_Gender'},inplace=True)

In [35]:
df.sample(2)

,Brand,Description,Selling_Price,MRP,Category_By_Gender,Category_By_Attire,Discount,Discount_%
30382,aero-jeans-womens,Textured Sweater with Ribbed Hem,2199,2199,Women,Westernwear,0,0.0
12655,duke,Printed Slim Fit Polo T-shirt,744,1145,Men,Topwear,401,35.0

In [36]:
def get_cloth_category(entry):
    entry = entry.lower().strip()

    if "track pant" in entry or "trackpant" in entry or "track" in entry:
        return "Track Pant"
    elif "t-shirt" in entry or "tee" in entry or "t-" in entry:
        return "T-Shirt"
    elif "shoe" in entry or "sandal" in entry or "loafer" in entry or "sneaker" in entry or "ballerina" in entry or "crocs" in entry or "boot" in entry or "plimsolls" in entry or "brogues" in entry or "clogs" in entry or "oxford" in entry or "pull on" in entry or "lace-up" in entry or "driver" in entry or "ballet" in entry or "chunkies" in entry or "moccasin" in entry or "espradille" in entry or "gladiator" in entry: 
        return "Shoes"
    if "slider" in entry or "slipper" in entry or "flip-flop" in entry or "slip-ons" in entry or "wedges" in entry or "flip-flip" in entry or "slides" in entry or "flip flops" in entry or "chappal" in entry or "thong-strap" in entry or "slip-on" in entry:
        return "Slippers"
    elif "jogger" in entry:
        return "Joggers"
    elif "shorts" in entry or "bermuda" in entry or "three fourth" in entry:
        return "Shorts"
    elif "jacket" in entry or "pullover" in entry or "hoodie" in entry or "sweatshirt" in entry or "sweater" in entry or "cardigan" in entry or "shrug" in entry or "gilet" in entry or "gillet" in entry or "gilltet" in entry or "shacket" in entry or "blouson" in entry:
        return "Jacket"
    elif "cap" in entry or "hat" in entry or "beanie" in entry:
        return "Cap"
    elif "socks" in entry:
        return "Socks"
    elif "vest" in entry:
        return "Vest"
    elif "jeans" in entry or "denim" in entry:
        return "Jeans"
    elif "trouser" in entry or "pant" in entry:
        return "Trouser"
    elif "chino" in entry:
        return "Chinos"
    elif "brief" in entry or "trunk" in entry:
        return "Briefs"
    elif "cargo pant" in entry:
        return "Cargo Pants"
    elif "shirt" in entry:
        return "Shirt"
    elif "camisole" in entry:
        return "Camisole"
    if "bra" in entry:
        return "Bra"
    if "panties" in entry or "hipster" in entry or "bikini" in entry:
        return "Panties"
    elif "top" in entry or "tunic" in entry:
        return "Top"
    elif "legging" in entry or "capri" in entry or "treggings" in entry or "jeggings" in entry or "tights" in entry:
        return "Leggings"
    elif "palazzo" in entry or "culottes" in entry or "pallazo" in entry:
        return "Palazzo"
    elif "kurta" in entry or "kurti" in entry or "kirta" in entry:
        return "Kurta"
    elif "dupatta" in entry or "stole" in entry:
        return "Dupatta"
    elif "heel" in entry or "mules" in entry or "stiletto" in entry or "pump" in entry or "slingback" in entry or "platform" in entry or "bow" in entry:
        return "Heels"
    elif "dress" in entry or "anarkali" in entry or "material" in entry or "angarakha" in entry or "lehanga" in entry or "salwar" in entry or "churidar" in entry or "lehenga" in entry or "patiala" in entry:
        return "Dress"
    elif "skirt" in entry:
        return "Skirt"
    elif "boxer" in entry:
        return "Boxers"
    elif "suit" in entry or "blazer" in entry or "coat" in entry:
        return "Suit"
    elif "saree" in entry:
        return "Saree"
    elif "jumper" in entry or "blouse" in entry:
        return "Blouse"
    elif "gown" in entry or "poncho" in entry:
        return "Gown"
    elif "dungaree" in entry:
        return "Dungaree"
    else:
        return "Others"

In [37]:
df['Category_By_Cloth'] = df['Description'].apply(get_cloth_category)

In [38]:
df.drop(columns=['Description'],inplace=True)

In [39]:
dicti = df.Brand.value_counts().to_dict()
print(dicti)

{'performax': 3028, 'teamspirit': 1908, 'dnmx': 1757, 'netplay': 1698, 'avaasa-mix-n-match': 1507, 'john-players': 1224, 'hi-attitude': 1191, 'w': 1179, 'fig': 1110, 'lee-cooper': 927, 'ecko': 849, 'aurelia': 842, 'rio': 753, 'john-players-jeans': 664, 'ajio': 529, 'christofano': 525, 'schumann': 516, 'kraus': 510, 'biba': 485, 'duke': 429, 'frisbee': 418, 'fusion': 399, 'aero-jeans': 336, 'jdy-by-only': 327, 'siyahi': 305, 'anonymous-co': 302, 'iscenery-by-vero-moda': 286, 'sin': 262, 'indian-terrain': 258, 'altheory': 239, 'aero-jeans-womens': 236, 'rangriti': 230, 'recap': 211, 'airwalk': 201, 'produkt-by-jack-jones': 200, 'avaasa-set': 192, 'schumann-premium': 179, 'only-vimal-apparel': 174, 'outryt': 171, 'denizen-from-levis': 161, 'clarks': 152, 'fioni': 148, 'aksk-creation': 144, 'altheory-sport': 143, 'svrnaa': 140, 'inblu': 138, 'proline': 132, 'madame': 128, 'u-s-polo-assn-': 126, 'ceriz': 124, 'denizen-womens': 120, 'killer': 115, 'jockey': 108, 'catwalk': 101, 'enamor': 101, 'uniquest': 99, 'poetic-piyani': 97, 'disney': 86, 'hunters-bay': 82, 'chhabra-555': 81, 'juniper': 80, 'species': 76, 'sanlee': 75, 'crimsoune-club': 74, 'indigo-nation': 74, 'fila': 71, 'duke-women-s': 70, 'ipanema': 70, 'puma': 69, 'nv-bhandar': 67, 'umbro': 65, 'go-colors': 63, 'woodland': 63, 'vivitka': 58, 'swadesh': 57, 'nez': 55, 'cross-trekkers': 51, 'global-step': 49, 'brash': 48, 'kneetoes': 47, 'lee-cooper-women': 44, 'id': 43, 'ecko-unltd': 43, 'dfx': 42, 'montego-bay-club': 40, 'buckaroo': 40, 'first-class': 39, 'warner-brothers': 39, 'red-chief': 39, 'network': 36, 'viviana': 35, 'ashmita': 34, 'labella': 34, 'comfort-plus': 33, 'monte-carlo': 31, 'allen-solly': 30, 'skechers': 24, 'anukta': 24, 'avaasa': 23, 'ftwe': 22, 'namah': 22, 'basics': 22, 'crocs': 22, 'varja': 20, 'vala-s': 20, 'other-characters': 19, 'parx': 16, 'trends': 15, 'attilio': 15, 'outryt-sport': 14, 'ira-soleil': 14, 'disha': 14, 'city-sneaks': 13, 'jashn': 13, 'lower-east-side': 11, 'pepe-jeans': 11, 'rss': 10, 'poshaak': 9, 'teej': 9, 'alberto-torresi': 9, 'dexter': 9, 'gola': 8, 'lag': 8, 'jp-jeans': 8, 'egoss': 8, 'adidas': 7, 'zaxy': 7, 'nirali': 7, 'k-swiss': 7, 'louis-philippe': 7, 'samav': 6, 'lucy-vegona': 6, 'be-indi': 6, 'hushh': 6, 'wildcraft': 5, 'crimsoune-club-women': 4, 'christofano-premium': 4, 'hanes': 4, 'reebok': 4, 'octave': 4, 'chromozome': 4, 'mardi-gras': 3, 'pureza': 3, 'john-players-select': 3, 'mix-fab': 3, 'gaami': 3, 'shakuntalam-s': 3, 'triumph': 3, 'florsheim': 3, 'lotto': 3, 'hunter-s-bay': 3, 'ruosh': 3, 'awd': 3, 'opt': 2, '109-f': 2, 'saucony': 2, 'monza': 2, 'monte-carlo-ladies': 2, 'monte-bianco': 2, 'ayaany': 2, 'onn': 2, 'turtle': 2, 'enamor-sleepwear': 2, 'jealous-21': 2, 'pal-fashions': 2, 'flying-machine-womens': 2, 'graviti': 2, 'oxemberg': 2, 'nizam': 2, 'srm-fashion': 2, 'dmi': 2, 'hiattitude': 2, 'rivaj': 2, 'arrow': 1, 'integriti': 1, 'wrangler': 1, 'classic-polo': 1, 'rimaya': 1, 'valentino': 1, 'nike': 1, 'franco-leone': 1, 'rugged-outback': 1, 'hk-colours-of-fashion': 1, 'urban-style': 1, 'mithi-mirchi': 1, 'jadu': 1, 'jublee': 1, 'monrow': 1, 'bon-bon': 1, 'awb': 1, 'avaasa-workwear': 1}

In [40]:
def replace_brand_name_with_others(entry):
    threshold = 50
    dictionary = df.Brand.value_counts().to_dict()
    if dictionary[entry]<=threshold:
        return "others"
    return entry

In [41]:
df['Brand'] = df['Brand'].apply(replace_brand_name_with_others)

In [42]:
dicti = df.Brand.value_counts().to_dict()
print(dicti)

{'performax': 3028, 'teamspirit': 1908, 'dnmx': 1757, 'netplay': 1698, 'avaasa-mix-n-match': 1507, 'others': 1360, 'john-players': 1224, 'hi-attitude': 1191, 'w': 1179, 'fig': 1110, 'lee-cooper': 927, 'ecko': 849, 'aurelia': 842, 'rio': 753, 'john-players-jeans': 664, 'ajio': 529, 'christofano': 525, 'schumann': 516, 'kraus': 510, 'biba': 485, 'duke': 429, 'frisbee': 418, 'fusion': 399, 'aero-jeans': 336, 'jdy-by-only': 327, 'siyahi': 305, 'anonymous-co': 302, 'iscenery-by-vero-moda': 286, 'sin': 262, 'indian-terrain': 258, 'altheory': 239, 'aero-jeans-womens': 236, 'rangriti': 230, 'recap': 211, 'airwalk': 201, 'produkt-by-jack-jones': 200, 'avaasa-set': 192, 'schumann-premium': 179, 'only-vimal-apparel': 174, 'outryt': 171, 'denizen-from-levis': 161, 'clarks': 152, 'fioni': 148, 'aksk-creation': 144, 'altheory-sport': 143, 'svrnaa': 140, 'inblu': 138, 'proline': 132, 'madame': 128, 'u-s-polo-assn-': 126, 'ceriz': 124, 'denizen-womens': 120, 'killer': 115, 'jockey': 108, 'catwalk': 101, 'enamor': 101, 'uniquest': 99, 'poetic-piyani': 97, 'disney': 86, 'hunters-bay': 82, 'chhabra-555': 81, 'juniper': 80, 'species': 76, 'sanlee': 75, 'indigo-nation': 74, 'crimsoune-club': 74, 'fila': 71, 'ipanema': 70, 'duke-women-s': 70, 'puma': 69, 'nv-bhandar': 67, 'umbro': 65, 'go-colors': 63, 'woodland': 63, 'vivitka': 58, 'swadesh': 57, 'nez': 55, 'cross-trekkers': 51}

In [43]:
df.to_excel('./Cleaned_Data.xlsx',index=False)